body{
    font-family: 'Poppins Medium', sans-serif;
}
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6A5AE0; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5c4ec7; 
  }
.bg-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pexels-jakub-novacek-924824\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}
.main-container{
    max-width: 430px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px #6A5AE0;
    border-radius: 8px;
    background-color: #2C2B30;
    background-image: url(../images/Mask_group.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    display: flex;
    position: relative;
}
.main-img-logo{
    margin:10px 0 25px 0;
}
.bg-primary{
    background-color: #6A5AE0 !important;
}
.main-count-wrapper .main-count-circle{
    height: 85px;
    width: 85px;
    line-height: 85px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color:#fff;
    box-shadow: 0px 0px 15px rgba(61,225,208,0.5);
}
.main-count-wrapper .main-count-text{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    opacity: 0.9;
}
.main-center-text{
    opacity: 0.7;
    font-family: 'Poppins Light', sans-serif;
    letter-spacing: 1px;
}
.main-bottom-text{
    color:#fff;
    text-align: center;
    font-size: 28px;
    margin: 3rem 0;
    padding:0 3.3rem;
}
.btn-primary{
    background-color: #6A5AE0 !important;
    border-color:  #6A5AE0 !important;
}
.btn:focus{
    box-shadow: none !important;
}
.main-bottom-button .btn{
    width: 15rem;
    height: 45px;
    line-height: 32px;
    border-radius: 10px;
    font-size: 19px;
    box-shadow: 0px 0px 15px rgba(61,225,208,0.3);
}
.text-primary{
    color: #6A5AE0 !important;
}
.quizz-title{
    font-size: 24px;
    padding: 0 20px 20px;
    position: relative;
}
.quizz-title::after{
    content: '';
    position: absolute;
    bottom: 8px;
    left: 20px;
    width: 100px;
    height: 3px;
    background-color: #3DE1D0;
}
.text-secondary{
    color: #3DE1D0 !important;
}
.quiz-question-box-count{
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;;
}
.quiz-question-box-wrap{
    background-color: rgba(106, 90, 224, 0.24);
    border-radius: 15px;
    padding: 15px;
    min-height: 8rem;;
    color: #fff;
}
.quiz-question-box {
    padding:0 20px;
}
.quiz-answer-wrapper{
    padding: 2rem 20px 1rem;
}
.quiz-answer-wrapper .qa-ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.quiz-answer-wrapper .qa-ul .qa-list-section{
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1.2rem;
}
.quiz-answer-wrapper .qa-ul .qa-list-section .qa-count{
    display: inline-flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
}
.quiz-answer-wrapper .qa-ul > li {
    margin-bottom: 10px;
}
.quiz-answer-wrapper .qa-ul .qa-list-section .qa-text{
    font-size: 18px;
}
.qa-right {
    background-color: #3DE1D0;
}
.qa-wrong{
    background-color: #FF5A5A;
}
.quiz-bottom-des{
    padding: 0 20px;
}
.quiz-bottom-des .quiz-bottom-des-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 12px;
}
.quiz-bottom-ul{
    list-style: none;
}
.quiz-bottom-ul > li{
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins Light', sans-serif;
    position: relative;   
}
.quiz-bottom-ul > li:after {
    content: '_';
    position: absolute;
    left: -28px;
    top: -6px;
    opacity: 0.8;
}
.q-title{
    padding: 20px;
    text-align: center;
    position: relative;
}
.q-title::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    right:0;
    margin:auto;
    width: 100px;
    height: 3px;
    background-color: #3DE1D0;
}
.q-sub-title{
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: -5px;
}
.q-login-img-wrapper .q-login-img-section{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
.q-login-img-wrapper .q-login-img-section > img{
    height: 68px;
}
.q-login-img-wrapper{
    padding:15px 0;
}
.q-form-control .f-title{
    color: #fff;
    display: block;
    padding-bottom: 8px;
}
.q-form-control .form-control{
    background-color: #222222;
    border:none;
    height: 45px;
    color: #fff;
}
.login-form-wrapper{
    padding: 0 20px;
}
.q-form-control {
    margin-bottom: 15px;
}
.login-btn {
    display: block;
    width: 100%;
    height: 45px;
    font-size: 18px;
    margin-bottom: 15px;
}
.login-tc{
    color: #fff;
    text-align: center;
    font-size: 11px;
    margin-bottom: 10px;
    font-family: 'Poppins Light', sans-serif;
}
.login-desc ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.login-desc ul li{
    color: #Fff;
    font-family: 'Poppins Light', sans-serif;
    font-size: 12px;   
}
.register-btn-wrapper{
    padding-bottom: 10px;
}
.register-btn{
    background-color: #3DE1D0;
    color: #fff;
    border-radius: 20px;
    font-size: 13px;
    padding: 3px 15px;
}
.g-wrapper{
    background-color: #Fff;
    border-top: 4px solid #6A5AE0;
    padding: 20px;
    background-image: url(../images/gretting-bg.png);
    background-repeat: no-repeat;
    background-position: center 50%;    
    margin: 15px;
    border-radius: 15px;

}
.g-sub-wrapper{
    padding: 1rem 0;
}
.g-sub-wrapper > .g-sub-img{
    margin-right: 15px;
}
.g-sub-wrapper > .g-sub-content > h3 > span {
    color: #ffc200;
}
.g-sub-wrapper > .g-sub-content > span{
    font-size: 20px;
}
.g-title:after {
    left: 0;
}
.g-button-wrapper {
    padding-bottom: 25px;
    padding-top: 15px;    
}
.g-button{
    display: inline-flex;
    align-items: center;
    border: 1px solid #6a5ae0;
    border-radius: 50px;
    padding: 0 20px 0 0 ;
    background-color: transparent;
    transition: all 0.5s;
    margin:3px;
}
.g-button:hover > .g-button-text{
    color:#fff;
}
.g-button:hover{
    background-color: #6a5ae0;
}
.g-button .g-button-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #3DE1D0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.g-button .g-button-text{
    color: #6a5ae0;
    font-size: 18px;
}
.g-text {
    text-align: center;
    font-size: 13px;
}
.g-img-wrapper {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}
.ql-header{
    margin: 15px;
}
.ql-header .ql-header-btn > img{
    height: 35px;
}
.ql-header .ql-header-btn{
    display: inline-flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.ql-header .ql-header-text{
    color: #fff;
    font-size: 20px;
}
.ql-content-header {
    text-align: center;
}
.ql-content-header-top {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.ql-content-header-top > img {
    height: 36px;
    margin-right: 14px;
}
.ql-content-header > p {
    color: #FFCC33;
}
.ql-content {
    padding: 0 15px;
}
.ql-content-tabs {
    border-radius: 30px;
    display: flex;
    margin-bottom: 10px;
}
.ql-content-tabs .tab-action.active{
    background-color: #3DE1D0;
}
.ql-content-tabs .tab-action {
    height: 45px;
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    background-color: transparent;
}
.text-sucess{
    color:#5CB85C !important;
}
.ql-list{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    border-left: 2px solid #6A5AE0;
    padding:10px;
    margin-bottom: 10px;
}
.ql-list .ql-list-left{
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ql-list .ql-list-left .ql-list-left-a{
    padding-bottom: 10px;
}
.ql-list .ql-list-left .ql-list-left-a > img{
    height: 40px;
}
.ql-list .ql-list-left > .text-sucess{
    font-size: 12px;
}
.ql-list .ql-list-left > .text-sucess > .dott{
    height: 5px;
    width: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #5CB85C;
    border-radius: 50%;
    margin-right: 3px;
}
.ql-list .ql-list-right{
    flex: 1;
    color:#222222;
    overflow: auto;
}
.ql-list .ql-list-right .ql-list-right-a{
    font-size: 11px;
    padding-bottom: 5px;
}
.ql-list .ql-list-right .ql-list-right-b{
    font-size: 16px;
    padding-bottom: 5px;
}
.ql-list .ql-list-right .ql-list-right-c{
    color: #999999;
    font-size: 11px;
    margin-bottom: 8px;
}
.ql-list .ql-list-right .ql-list-right-d{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ql-list .ql-list-right .ql-list-right-count{
    text-align: right;
    font-size: 12px;
}
.ql-list .ql-list-right .ql-list-right-count > .dott{
    height: 5px;
    width: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #5CB85C;
    border-radius: 50%;
    margin-right: 3px;
}
.ql-list .ql-list-right .ql-list-right-d > .ql-list-right-da{
    font-size: 14px;
}
.ql-list .ql-list-right .ql-list-right-d > .btn{
    font-size: 12px;
    border-radius: 50px;
    padding: 5px 18px;
}
.daily-bonus-modal{
    background-color: #2E2B33;
    position: absolute;
    width: calc(100% - 30px);
    border: 1px solid #3DE1D0;
    border-radius: 15px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-90%);
    padding: 10px;
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
}
.daily-bonus-modal.open{
    transform: translateY(-50%);
    opacity: 1;
    z-index: 22;
}
.btn-red-close:hover{
    opacity: 1;
}
.btn-red-close{
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
    position: absolute;
    background: rgba(255, 90, 90, 0.4);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: all 0.5s;
}
.btn-red-close > img{
    height: 12px;
}
.daily-bonus-modal .db-img-section{
    text-align: center;
    padding: 1.5rem 0;
}
.daily-bonus-modal .db-title{
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
    
}
.daily-bonus-modal .db-sub-title{
    font-size: 15px;
    text-align: center;
    color: #Fff;
    padding-bottom: 20px;
}
.custom-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(44, 43, 48, 0.6);
    z-index: 10;
    top: 0;
    left: 0;
    transition: all 0.5s;
    opacity: 0;
}
.wallet-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.wallet-list-left .wallet-list-left-a{
    font-size: 16px;
    padding-bottom: 8px;
}
.wallet-list-left .wallet-list-left-b{
    font-size: 14px;
    color: #999;
}
.detail-wrapper{
    background-color: #Fff;
    border-top: 4px solid #6A5AE0;
    padding: 20px;
    background-color: rgba(35, 32, 39, 0.5);
    background-repeat: no-repeat;
    background-position: center 50%;    
    margin: 15px;
    border-radius: 15px;
}
.detail-header .detail-header-left{
    margin-right: 15px;
}
.detail-header .detail-header-left > img{
    height: 118px;
}
.detail-header {
    margin: 20px;
}
.ql-content-text > ul > li{
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    position: relative;
    list-style: none;
}
.ql-content-text > ul > li:after{
    content: '';
    position: absolute;
    left: -28px;
    top: 2px;
    height: 18px;
    width: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/butllet-coin.png);
    background-size: 15px;
}
.detail-header-right .detail-header-right-c{
    margin-bottom: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #3DE1D0;
}
.detail-header-right .detail-header-right-b{
    margin-bottom: 5px;
    color: #Fff;
    font-size: 26px;
}
.detail-header-right .detail-header-right-a{
    font-size: 20px;
    margin-bottom: 5px;
}
.ql-content-text .btn{
    border-radius: 50px;
    padding: 8px 2rem;
}
.quiz-bottom-lifeline{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
}
.life-line-box:hover{
    color: #222;
    opacity: 1;
}
.life-line-box{
    opacity: 0.8;
    transition: all 0.5s;;
    height: 90px;
    width: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color:#3de1d0;
    border-radius: 10px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    color:#222;
    box-shadow: 0 3px 0px rgb(106 90 224 / 70%);
}
.life-line-box > img{
    height: 50px;
}
.timer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    color:#fff;
    font-size: 20px;
    background-color: rgba(255,255,255,0.2);
    border:1px solid #6A5AE0;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.pr{
    position: relative;
}
.life-video-btn {
    border-radius: 38px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}
.video-ad-box{
    background-color: rgba(217,217,217,0.2);
    min-height: 200px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.f-score-wrapper{
    padding: 0 20px;
}
.f-score-box{
    background-color: rgba(31, 30, 34, 0.3);
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(60, 216, 200, 0.4);
    border-radius: 15px;
}
.fs-12px{
    font-size: 12px;
}
.f-score-count{
    background-color: rgba(61, 225, 208, 0.5);
    box-shadow: 0px 4px 0px rgba(60, 216, 200, 0.2);
    padding:10px 10px 5px;
    margin: 10px 0;
    border-radius: 10px;
}
.f-score-count .f-score-count-box-final{
    border-radius: 10px;
    background-color: rgba(61, 225, 208, 0.9);
    margin-top: 5px;
    margin-bottom: 5px;
    color:#fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.f-score-break{
    text-align: right;
}
.f-score-break > a{
    font-size: 9px;
    display: inline-block;
    vertical-align: middle;
}
.border-radius-circle{
    border-radius: 50px;
}
.sidebar-wrapper {
    height: 100%;
    width: 65%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background-color: #2E2B33;
    box-shadow: 0px 0px 18px rgba(61,225,208,0.4);
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-100%);
}
.sidebar-wrapper-ul{
    padding: 0;
}
.sidebar-wrapper-ul > li{
    list-style: none;
}
.sidebar-wrapper-ul > li > a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s;
    background-color: transparent;
}
.sidebar-wrapper-ul > li > a:hover{
    background-color: rgba(61,225,208,0.8);
    padding-left: 1.6rem;
}
.sidebar-close{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    align-items: center;
}
.sidebar-close > a{
    position: static;
}
.sidebar-wrapper.open{
    display: block;
    opacity: 1;
    transform: translateX(0);
    z-index: 9999;
}
.dobuble-coin-btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid #6a5ae0;
    border-radius: 50px;
    height: 50px;
    background-color: transparent;
    padding: 0 1.5rem;
    margin-left: 15px;
    color: #6a5ae0;
    transition: all 0.5s;
    margin:3px;
    text-decoration: none;
}
.dobuble-coin-btn:hover{
    color:#222;
    
    background-color:#ffc200 ;
}
@media screen and (max-width: 450px) {
    .main-container{
        max-width: 100%;
    }
    .bg-container{
        padding: 0;
    }
  }